<!DOCTYPE html>
{% load static %}
<html>
<head>
	{% block title %}<title>Интернет магазин</title>{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% block description %}{% endblock %}
	{% block keywords %}<meta name="keywords" content="птицы, сайт птицы" />{% endblock %}
	<link rel="stylesheet" href="{% static 'styles/main.css' %}" type="text/css" media="all" />
	<script src="{% static 'js/functions.js' %}"></script>
	<link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
<div id="container">
	<div id="header">
		<img src="{% static 'images/header_1.png' %}" alt="Шапка" />
		<div>
			<p class="red">+7-123-456-7890</p>
			<p class="blue">Время работы с 9:00 до 18:00<br />без перерыва и выходных</p>
		</div>
	<div class="cart">
			<p class="cart_title">Корзина</p>
			<p class="blue">Текущий заказ</p>
			<p>В корзине <span>0</span> товаров<br />на сумму <span>0</span> руб.</p>
			<a href="#">Перейти в крозину</a>
		</div>
	</div>
		<div id="topmenu">
			<ul>
				<li>
					<a href="{% url 'index' %}">ГЛАВНАЯ</a>
				</li>
				<li>
					<img src="{% static 'images/topmenu_border.png' %}" alt="" />
				</li>
				<li>
					<a href="{% url 'delivery' %}">ОПЛАТА И ДОСТАВКА</a>
				</li>
				<li>
					<img src="{% static 'images/topmenu_border.png' %}" alt="" />
				</li>
				<li>
					<a href="{% url 'contacts' %}">КОНТАКТЫ</a>
				</li>
			</ul>
			<div id="search">
				<form name="search" action="{_% url 'search' %_}" method="get">
					<table>
						<tr>
							<td class="input_left"></td>
							<td>
								{{ search_form.q }}
							</td>
							<td class="input_right"></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
	<div id="content">
		<div id="left">
				<div class="menu">
					<div class="header">
						<h3>Категории</h3>
					</div>
					<div class="items">
						{% for category in categories %}
							<p>
								<a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
<!--								{_{ section.get_absolute_url }_}-->
							</p>
						{% endfor %}
					</div>
					<div class="bottom"></div>
				</div>

		</div>
		<div id="right">
			{% block content %}
			{% endblock %}
		</div>
	</div>
	<div id="footer">
		<div id="pm">
			<table>
				<tr>
					<td>Способы оплаты:</td>
					<td>
						<img src="{% static 'images/pm.png' %}" alt="Способы оплаты" />
					</td>
				</tr>
			</table>
		</div>
		<div id="copy">
			<p>Copyright &copy; Site.ru. Все права защищены.</p>
		</div>
	</div>

</body>
</html>