{% extends 'main.html' %}
{% block title %}<title>{{ product.name }}</title>{% endblock %}
{% block description %}
<meta name="description" content="Описание и покупка товара {{ product.name }}">{% endblock %}
{% block keywords %}
<meta name="keywords" content="{{ product.name|lower }}, купить {{ product.name|lower }}"/>{% endblock %}
{% block content %}
<h2>{{ product.name }}</h2>
{% load static %}
<table id="hornav">
    <tr>
        <td>
            <a href="{% url 'index' %}">Главная</a>
        </td>
        <td>
            <img src="{% static 'images/hornav_arrow.png' %}" alt=""/>
        </td>
        <td>
            <a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a>
        </td>
        <td>
            <img src="{% static 'images/hornav_arrow.png' %}" alt=""/>
        </td>
        <td>{{ product.name }}</td>
    </tr>
</table>
<table id="product">
    <tr>
        <td class="product_img">
            <img src="{{ product.image.url }}" alt="{{ product.name }}"/>
        </td>
        <td class="product_desc">
            <p>Название: <span class="title">{{ product.name }}</span></p>
            <p>Вес: <span>1998</span></p>
            </p>
            <table>
                <tr>
                    <td>
                        <p class="price">{{ product.price }} руб.</p>
                    </td>
                    <td>
                        <p>
                            <a class="link_cart"
                               href="https://storedvd.ru/functions.php?func=add_cart&amp;id=16"></a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p class="desc_title">Описание:</p>
            <p class="desc">{{ product.description|linebreaksbr }}
            </p>
        </td>
    </tr>
</table>
<div id="others">
    <h3>С этим товаром также заказывают:</h3>
    <table class="products">
        <tr>
            {% for other_product in products %}
                {% include 'product.html' with product=other_product %}
            {% endfor %}
        </tr>
    </table>
</div>
{% endblock %}